<!DOCTYPE html>
<html>
<head>
    <title>Добавления новой темы</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div>
    <a href="/admin" class="btn btn-primary ml-3">Главная страница</a>
    <a href="/admin/add" class="btn btn-secondary ml-3">Новая тема</a>
    <a href="/adminTopic" class="btn btn-info ml-3">Список тем</a>
    <a href="/adminSubtopic" class="btn btn-info ml-3">Список подтем</a>
</div>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<form action="/admin/add" method="post" name="form1">
    <div>
        <label for="">Название</label>
        <input type="text" id="name" name="name" value="" placeholder="Название">
        <label for="">Описание</label>
        <input type="text" id="description" name="description" value="" placeholder="Описание">
    </div>

    <input type="submit" class="btn btn-primary" value="Add">
</form>

</body>
</html>