<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Редактирование темы</title>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
</head>
<header>
    <a href="/admin" class="admin_panel_main_page">Главная страница</a>
    <a href="/admin/add" class="add_anything">Новая тема</a>
    <a href="/admin/add-subtopic" class="add_anything">Новая подтема</a>
    <a href="/admin/add-test" class="add_anything">Новый тест</a>
    <a href="/adminTopic" class="list_anything">Список тем</a>
    <a href="/adminSubtopic" class="list_anything">Список подтем</a>
    <a href="/admin/adminTest" class="list_anything">Список тестов</a>
</header>
<body>
<form action="/admin/update/<%= id %>" method="post" name="form1">
    <div class="form-group">
        <label for="">Название</label>
        <input type="text"  name="name" id="name" value="<%= name %>" placeholder="Название">
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input type="text" id="description" name="description" value="<%= description %>" placeholder="Описание">
    </div>
    <button type="submit" class="btn btn-info">Update</button>
</form>
</body>
</html>
