<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Задачник JavaScript</title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="one">
    <h1>Задачник JavaScript</h1>
    <p>Здесь вы можете изучить JavaScript, начиная с нуля и заканчивая продвинутыми концепциями.</p>
    <p>Для изучения JavaScript <a href="/userAuth">авторизируетесь</a> или <a href="/userAuth">зарегистрируетесь</a> на сайте.</p>
</div>
<!--<div id="container" class="container-login">-->
<!--    <div class="wrap-login">-->
<!--        <span class="login-form-title">-->
<!--                        Авторизация-->
<!--                    </span>-->
<!--        <form method="post" action="/login" class="login-form validate-form ">-->

<!--            <div class="wrap-input validate-input" data-validate = "Enter admin name">-->
<!--                <input class="input100" type="text" name="username" placeholder="Admin name">-->
<!--                <span class="focus-input100"></span>-->
<!--            </div>-->

<!--            <div class="wrap-input validate-input" data-validate="Enter password">-->
<!--                <input class="input100" type="password" name="password" placeholder="Password">-->
<!--                <span class="focus-input100"></span>-->
<!--            </div>-->

<!--            <div class="container-login-form-btn">-->
<!--                <input type="submit" value="Login" class="login-form-btn">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="wrap-login">-->
<!--        <span class="login-form-title">-->
<!--                        Регистрация-->
<!--                    </span>-->
<!--        <form method="post" action="/register" class="login-form validate-form ">-->

<!--            <div class="wrap-input validate-input" data-validate = "Enter admin name">-->
<!--                <input class="input100" type="text" name="username" placeholder="Никнейм">-->
<!--                <span class="focus-input100"></span>-->
<!--            </div>-->

<!--            <div class="wrap-input validate-input" data-validate="Enter password">-->
<!--                <input class="input100" type="password" name="password" placeholder="Password">-->
<!--                <span class="focus-input100"></span>-->
<!--            </div>-->

<!--            <div class="wrap-input validate-input" data-validate="Enter password">-->
<!--                <input class="input100" type="password" name="confirm" placeholder="Password">-->
<!--                <span class="focus-input100"></span>-->
<!--            </div>-->

<!--            <div class="container-login-form-btn">-->
<!--                <input type="submit" value="Registration" class="login-form-btn">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>